# Arithmatic Operations

In [2]:
import pandas as pd

In [5]:
var = pd.DataFrame({"A":[1,2,3,4,5], "B": [6,7,8,9,10]})
print(var)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [7]:
## ____________Addition ________________

var["C"] = var["A"]+ var["B"]
print(var)

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

In [8]:
## ____________Subtraction ________________

var["C"] = var["A"]- var["B"]
print(var)

   A   B  C
0  1   6 -5
1  2   7 -5
2  3   8 -5
3  4   9 -5
4  5  10 -5

In [9]:
## ____________Multiplication ________________

var["C"] = var["A"]* var["B"]
print(var)

   A   B   C
0  1   6   6
1  2   7  14
2  3   8  24
3  4   9  36
4  5  10  50

In [10]:
## ____________Division ________________

var["C"] = var["A"] /var["B"]
print(var)

   A   B         C
0  1   6  0.166667
1  2   7  0.285714
2  3   8  0.375000
3  4   9  0.444444
4  5  10  0.500000

### Boolean Operatios

In [11]:
var1 = pd.DataFrame({"X": [10,20,30,40,50],"Y":[60,70,80,90,100]})
print(var1)

    X    Y
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [14]:
var1["py"] = var1["X"] <= 30

var1["py_1"] = var1["Y"] >= 90
var1

    X    Y     py   py_1
0  10   60   True  False
1  20   70   True  False
2  30   80   True  False
3  40   90  False   True
4  50  100  False   True

# That's it about arithmatic operations 

### keep learning !!

##### sudeep_bogati