## Data structure in Pandas

##### Series Structure

In [4]:
import pandas as pd

In [12]:
x = [2,4,6,8,10]
var = pd.Series(x, index = ['a','e','i', 'o','u'], name = "python", dtype = 'float') # indexing can also be customized ,,,, and name parameter///// data type can be changed as in numpy 

print(var)

print(type(var))    # to know the type of variable wheather it is pandas series or not 


# also data can be indexed easily,,,,,,,,

print(var[4])  # hence it show the 4th index element

a     2.0
e     4.0
i     6.0
o     8.0
u    10.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
10.0

In [13]:
# DICTIONARY / TUPLE can also be used intead of array 

# using DICTIONARY ______________________________

dic = {"name":['sudeep','anurag','deepak','sunil'],
      "class":[12,13,11,10],
      "rank":[1,2,3,4]}
var1 = pd.Series(dic)
var1

name     [sudeep, anurag, deepak, sunil]
class                   [12, 13, 11, 10]
rank                        [1, 2, 3, 4]
dtype: object

In [16]:
# ---------same data can be passed with many indexes----------

s= pd.Series(12,index= [1,2,3,4,5,6,7,8,9],dtype= 'float')
s

1    12.0
2    12.0
3    12.0
4    12.0
5    12.0
6    12.0
7    12.0
8    12.0
9    12.0
dtype: float64

In [19]:
s1= pd.Series(12,index= [1,2,3,4,5,6,7,8,9])
s2= pd.Series(11,index= [1,2,3,4,5])

print(s1+s2)  # it can be concatinated although the indexes are different ------ a error in NUMPY

1    23.0
2    23.0
3    23.0
4    23.0
5    23.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

# Data Frame Structure (2D structure in Pandas)

In [21]:
list = [1,2,3,4,5,6]
df = pd.DataFrame(list)
df
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [30]:
# ______illustratin' using dictionary 

dict = {"name": ['sudeep','anurag','kamal','salman','sunny'],
       "rollno": [1,6,9,10,5],
       420 : [5,6,7,8,9]}

 
df1 = pd.DataFrame(dict, columns= ["name",420]) # colums can also be customized our visualized 

print(df1["name"][1]) #accessing the specific element

print(df1)
print(type(df1))

anurag
     name  420
0  sudeep    5
1  anurag    6
2   kamal    7
3  salman    8
4   sunny    9
<class 'pandas.core.frame.DataFrame'>

##### Using List of List

In [31]:
list_1 = [[1,2,3,4,5],[21,22,23,24,25]]

df2 = pd.DataFrame(list_1)
print(df2)

    0   1   2   3   4
0   1   2   3   4   5
1  21  22  23  24  25

## A DataFrame using two or more Series

In [32]:
sr ={"s" : pd.Series([5,6,7,8,9]), "r":pd.Series([11,12,13,14,15])}
df3 = pd.DataFrame(sr)
print(df3)
print(type(df3))

   s   r
0  5  11
1  6  12
2  7  13
3  8  14
4  9  15
<class 'pandas.core.frame.DataFrame'>