## Write CSV( Comma Separated Value)

In [1]:
import pandas as pd

In [3]:
dict = {"a" : [1,2,3,4,5], "b":[6,7,8,9,10],"c":[21,22,23,24,25]}

d = pd.DataFrame(dict)
d

   a   b   c
0  1   6  21
1  2   7  22
2  3   8  23
3  4   9  24
4  5  10  25

In [9]:
d.to_csv("test_file_new.csv",index = False)  # creates a csv file  
d.to_csv("test_file_new.csv", header= ["x","y","z"]) #defines the header