In [1]:
import pandas as pd

In [2]:
var = pd.read_csv("sample.csv")
var

,Number,Footnote
0,1,Sector and published industry breakdowns accor...
1,2,In 2019 the R&D Survey was conducted only for ...
2,3,Results for this category should be treated wi...
3,4,Includes a wide range of ANZSIC industry codes...
4,5,Based on Rolling Mean employment. See Datainfo...
5,6,Only collected from the business sector. Not c...
6,7,Only collected from the business sector and go...
7,8,Only collected from the business sector and hi...
8,9,Only collected from the government and higher ...
9,10,Only collected from the higher education sect...
10,11,Only collected from the the Crown Research Ins...
11,12,Dollar figures exclude GST and are rounded to ...
12,13,Underlying counts of businesses are random rou...
13,14,Underlying counts of employees are rounded usi...
14,15,Respondents are asked to allocate to each of t...
15,16,Includes 'defence' and 'other' research purposes.
16,17,Research intended to benefit the sectors of Pl...
17,18,Research intended to benefit the sectors of En...
18,19,Research intended to benefit the sectors of He...
19,20,Research intended to benefit the sectors of Ec...
20,21,Includes New Zealand local government agencies.
21,22,Basic research is carried out to advance knowl...
22,23,Pure basic research is research to pursue new ...
23,24,Targeted basic research is research to produce...
24,25,Applied research is investigation undertaken t...
25,26,Experimental research is systematic work under...
26,27,Businesses were asked to indicate one main rea...
27,28,Some categories or groups may not equal the to...
28,29,Excludes licensing of intellectual property.
29,30,Excludes subsidaries.
30,31,No longer collected after 2014.
31,32,GDP is based on Stats NZ's GDP current price e...
32,33,Sourced from Organisation for Economic Co-oper...
33,34,For more information on definitions and refere...
34,Notes:,NaN
35,Due to small changes in population and sample ...,NaN
36,"Due to rounding, figures may not add to stated...",NaN
37,Symbols:,NaN
38,... Data not collected,NaN
39,.. Data not applicable or no data available,NaN
40,C Confidential,NaN
41,S Supressed for quality reasons,NaN
42,R Revised,NaN
43,P Provisional,NaN

In [9]:
var.interpolate() # showing error 'cause it works only with number ----

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

# Note: 
### interpolate() function works only with the numerical value or numbers 

## Methods are used to change the data filling style 


# Methods : 

#### {linear, time, index, values, nearest, zero, slinear, quadratic, cubic, barycentric, krogh , polynimial, spline, piecewise_polynomial, form_derivatives, pchip, akima }

In [10]:
var.interpolate(method = "linear", axis = 1)

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

## axis = 1 :  row by row 

## axis = 0 :   column by column

In [12]:
# ------- limit parameter =-------

# limit _direction = "forward"/"backward"/ "both"


var.interpolate(limit_direction = "forward",limit = 1)
var.interpolate(limit_direction = "backward",limit = 1)
var.interpolate(limit_direction = "both",limit = 1)

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [14]:
 # ------------limit area ------
var.interpolate(limit_area = "outside")   # do not fill the NaN values 
var.interpolate(limit_area = "inside")

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [15]:
#----------inplace parameter --------
# inplace = True : original data placement
# inplace = False : copies the data and fill

var.interpolate(inplace = True, limit_direction = "both ", limit = 1)

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.